<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .flex-item {
            border: 1px solid black;
            margin: 5px;
            padding: 20px;
            text-align: center;
            white-space: nowrap;
        }

        .flex-item button {
            position:relative;
            top:0;
            left:0;
        }

        .flex-container {
            width: 100%;
            padding: 15px;
            display: flex;
            flex-wrap: nowrap;
            overflow: auto;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <div class="flex-item">
            <progress></progress>
            <button>x</button>
            <img src="/upload/anime/1610047397900.png"/>
        </div>
        <div class="flex-item">11111111</div>
        <div class="flex-item">22222222</div>
        <div class="flex-item">3333333333333333333333333333333333</div>
        <div class="flex-item">44444444</div>
        <div class="flex-item">55555555</div>
        <div class="flex-item">1111111111111</div>
        <div class="flex-item">22222222</div>
        <div class="flex-item">33333333</div>
        <div class="flex-item">444444444</div>
        <div class="flex-item">5555555555</div>
        <div class="flex-item">11111111</div>
        <div class="flex-item">22222222</div>
        <div class="flex-item">33333333</div>
        <div class="flex-item">44444444</div>
        <div class="flex-item">55555555</div>
    </div>
</body>

</html>