<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="ui main text container">

    <form class="ui form segment" action="/anime" method="post" enctype="multipart/form-data" novalidate>
      <div class="field">
        <label class="require" for="titleko">한글 제목</label>
        <input type="text" name="titleko" id="titleko">
      </div>
      <div class="field">
        <label for="titlejp">일어 제목</label>
        <input type="text" name="titlejp" id="titlejp">
        <small>제목이 영어인 경우 영어 그대로 입력해 주세요.</small>
      </div>
      <div class="field">
        <label for="titleromi">로마자 제목</label>
        <input type="text" name="titleromi" id="titleromi">
        <small>일어 제목이 영어 독음으로 자동으로 변환된 결과입니다. 잘 못되었거나, 문제가 있으면 수정해 주세요.</small>
      </div>
      <div class="field">
        <label for="titleshort">축약 제목</label>
        <input type="text" name="titleshort" id="titleshort">
        <small>가장 대중적으로 불리는 일본어 축약 제목을 적어주시면 됩니다.</small>
      </div>
      <div class="field">
        <label class="require" for="description">설명</label>
        <input type="text" name="description" id="description">
      </div>

      <!--이 시리즈와 시리즈 순서 항목은 나라처럼 따로 추가 가능하게 만들고, 그쪽에서 관리하도록 할 것.-->
      <div class="field">
        <label for="tags">시리즈</label>
        <select multiple="" name="series" class="ui fluid normal dropdown" id="series">
          <option value="">선택</option>
          <option value="123">서버에서 목록 추가 예정</option>
        </select>
      </div>
      <div class="field">
        <label for="tags">시리즈 순서</label>
        <input type="number" name="seriesnum" id="seriesnum" />
      </div>
      
      <!-- 제작사 칸도 따로 뺄 예정-->
      <div class="field">
        <label for="producer">제작사</label>
        <input type="text" name="producer" id="producer" />
      </div>

      <!--감독 칸도 따로 뺄 예정-->
      <div class="field">
        <label for="producer">감독</label>
        <input type="text" name="producer" id="producer" />
      </div>

      <div class="field">
        <label for="tags">태그</label>
        <select multiple="" name="tags" class="ui fluid normal dropdown" id="tags">
          <option value="">선택</option>
          <option value="치유물">치유</option>
          <option value="러브코메디">러브코메디</option>
          <option value="하렘">하렘</option>
          <option value="일상">일상</option>
          <option value="이세계">이세계</option>
          <option value="액션">액션</option>
          <option value="판타지">판타지</option>
          <option value="123">이 목록도 db에서 가져오게 만들 예정</option>
        </select>
      </div>
      <div class="field">
        <label for="country">제작국가</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="country" id="country" value="jp">
          <i class="dropdown icon"></i>
          <div class="default text">나라 선택</div>
          <div class="menu">
            <% countries.forEach(function(country) {%>
            <div class="item" data-value="<%=country.country_code%>"><i
                class="<%=country.country_code%> flag"></i><%=country.country%></div>
            <%})%>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="coverimg">키 비주얼</label>
        <input type="file" name="coverimg" id="coverimg" accept="image/*">
        <small>일반적으로 이 애니를 대표하는 이미지가 들어갑니다.</small>
      </div>
      <div class="field">
        <label for="coverimg">사진</label>
        <input type="file" name="stealcut" id="stealcut" multiple accept="image/*">
        <small>애니 중 나오는 이미지들이 들어갑니다. 여러개 선택이 가능합니다.</small>
      </div>
      <div class="field">
        <label>방영시작</label>
        <div class="ui calendar" id="example8">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="선택" name="">
          </div>
        </div>
      </div>
      <div class="field">
        <label class="require">총 화수</label>
        <input type="number" name="episode" id="episode" value="12">
      </div>
      <div class="field">
        <label for="url">사이트 URL</label>
        <input type="text" name="url" id="url">
      </div>
      <div class="field">
        <label class="require">오프닝</label>
        <input type="hidden" name="opnum" id="opnum" />
        <div id="opcontent" class="ui divided items">
        </div>
        <button type="button" class="ui button" id="opaddBtn">추가</button>
      </div>
      <div class="field">
        <label class="require">엔딩</label>
        <input type="hidden" name="ednum" />
        <div id="edcontent" class="ui divided items">
        </div>

        <button type="button" class="ui button" id="edaddBtn">추가</button>
      </div>
      <hr>
      <div style="display:flex;justify-content:flex-end;">
        <button type="button" id="cancelBtn" class="ui black deny button">취소</button>
        <button type="submit" id="submitBtn" class="ui positive submit button">추가</button>
      </div>
    </form>
  </div>
  <form class="ui form segment error">
    <div class="field error">
      <label>Test Field</label>
      <input placeholder="Test Field" name="name" type="text">
      <div class="ui basic red pointing prompt label transition visible" style="display: inline-block !important;">
        Please enter your name</div>
    </div>
    <div class="ui primary submit button">Submit</div>
    <div class="ui reset button">Reset</div>
    <div class="ui clear button">Clear</div>
  </form>
  <button class="ui button" id="dark_Btn">
    다크모드
  </button>

  <% include ../footer %>

  <script src="/js/jquery.min.js"></script>
  <script src="/semantic/semantic.min.js"></script>
  <script src="/js/kuroshiro.min.js"></script>
  <script src="/js/kuroshiro-analyzer-kuromoji.min.js"></script>
  <script>
    var kuroshiro = new Kuroshiro();
    kuroshiro.init(new KuromojiAnalyzer({ dictPath: "/jp/dict" }));
    $("#titlejp").blur(function () {
      kuroshiro.convert($(this).val(), { to: "romaji", mode: "spaced", romajiSystem: "passport" }).then(function (result) {
        $("#titleromi").val(result);
      });
    })
  </script>
  <script>
    $('.ui.dropdown').dropdown({});

    $('#example8').calendar({
      startMode: 'year',
      type: 'month',
      text: {
        days: ['일', '월', '화', '수', '목', '금', '토'],
        months: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthsShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        today: '오늘',
        now: '현재',
        am: '오전',
        pm: '오후'
      },
      formatter: {
        date: function (date) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return year + "년 " + month + "월";
        }
      }
    });
  </script>
  <script>
    var op_num = 1;
    var ed_num = 1;
    $("#opcontent").on("click", ".opchangeBtn", function () {
      console.log(true);
      $(this).siblings("input").toggle();
      //$(".opinput.toggle").toggle();
    });


    $("#edcontent").on("click", ".edchangeBtn", function () {
      console.log(true);
      $(this).siblings("input").toggle();
      //$(".opinput.toggle").toggle();
    });
    var op = $(".op");
    var ed = $(".ed");
    var ophtml;
    var edhtml;
    $("#opaddBtn").on("click", function () {
      ophtml =
        `
        <div class="item">
          <div class="op middle aligned content">
            <div style="display:flex;">
              <div style="display:flex;align-items: center;padding:5px;justify-content: center;">
                오프닝${op_num}
              </div>
              <div style="flex-grow: 1;display:flex;">
                <input type="file" name="opfile" class="toggle opinput" style="display:none;" accept="video/*">
                <input type="text" name="opurl" class="toggle opinput" placeholder="오프닝 URL 입력">
                <button type="button" class="ui button opchangeBtn" style="flex-shrink:0">전환</button>
              </div>
            </div>
            <div>
              <input type="text" name="optitle" class="optitle" placeholder="오프닝 제목">
            </div>
            <div style="display:flex;vertical-align:middle;align-items: center;">
              <div class="ui input" style="flex-grow:1;">
                <input type="number" name="OPrange_start" class="OPrange_start"/>
              </div>
              <div style="flex-shrink: 0; padding:5px;">화 부터</div>
              <div style="flex-shrink: 0; padding:5px;"> ~ </div>
              <div class="ui input" style="flex-grow:1;">
                <input type="number" name="OPrange_end" class="OPrange_end"/>
              </div>
              <div style="flex-shrink: 0; padding:5px;">화 까지</div>
            </div>
          </div>
        </div>
      `;
      if (op_num <= $("#episode").val()) {
        $("#opnum").val(op_num);
        op_num++;
        $("#opcontent").append(ophtml);
      } else {

      }
    });

    $("#edaddBtn").on("click", function () {
      edhtml =
        `
        <div class="item">
          <div class="ed middle aligned content">
            <div style="display:flex;">
              <div style="display:flex;align-items: center;padding:5px;justify-content: center;">
                엔딩${ed_num}
              </div>
              <div style="flex-grow: 1;display:flex;">
                <input type="file" name="edfile" class="toggle edinput" style="display:none;" accept="video/*">
                <input type="text" name="edurl" class="toggle edinput" placeholder="엔딩 URL 입력">
                <button type="button" class="ui button edchangeBtn" style="flex-shrink:0">전환</button>
              </div>
            </div>
            <div>
              <input type="text" name="edtitle" class="edtitle" placeholder="엔딩 제목">
            </div>
            <div style="display:flex;vertical-align:middle;align-items: center;">
              <div class="ui input" style="flex-grow:1;">
                <input type="number" name="EDrange_start" class="EDrange_start"/>
              </div>
              <div style="flex-shrink: 0; padding:5px;">화 부터</div>
              <div style="flex-shrink: 0; padding:5px;"> ~ </div>
              <div class="ui input" style="flex-grow:1;">
                <input type="number" name="EDrange_end" class="EDrange_end"/>
              </div>
              <div style="flex-shrink: 0; padding:5px;">화 까지</div>
            </div>
          </div>
        </div>
      `;
      if (ed_num <= $("#episode").val()) {
        $("#ednum").val(ed_num);
        ed_num++;
        $("#edcontent").append(edhtml);
      } else {

      }
    });

    $('.ui.range.slider').slider({
      min: 5,
      max: 100,
      start: 10,
      end: 90,
      step: 5
    });

    $(".ui.form").form({
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter your name'
            }
          ]
        }
      }
    });

  </script>
  <script>
    $("#cancelBtn").on("click", function () {
      //location.href = "/anime";
      history.go(-1);
    });
  </script>
  <script>
    $("#dark_Btn").click(function() {
      $(".ui").toggleClass("inverted");
    });
  </script>
</body>

</html>