<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="./posttest">
        <input type="text" name="text" value="테스트다요"/>
        <input type="text" name="hiddentext" value="숨겨진테ㄱ스트다요" style="visibility: hidden;"/>
        <input type="text" name="nonetext" value="없어진테ㄱ스트다요" style="display:none"/>
        <input type="submit" value="제출"/>
    </form>
</body>
</html>