<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/anime/img_upload" method="post">
        <input type="file" name="file" id="file_input" multiple/>
        <input type="submit"/>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#file_input").change(function(a) {
            var files = $(this).prop("files")
            console.log(files);
            //var names = $.map(files, function(val) { return val.name; });
            /*files.forEach(element => {
                console.log(element);
            });
            console.log(names);*/
        })
    </script>
</body>
</html>